body {
  max-width: 1000px;
  width: 90%;
  margin: 25px auto;
}
.row {
  margin: 0;
}
.nav-container {
  font-size: 24px;
  margin: 25px 25px;
}
.about_skills {
  margin-left: 50px;
  margin-bottom: 50px;
}
.about-me-section {
  font-size: 16px;
}
.about-me-section .links {
  font-size: 36px;
}
.about-me-section .headshot {
  width: 100%;
  border-radius: 8px;
  margin: 25px 0 5px;
}
.skills-section {
  height: 100px;
}
.skills-section ol {
  width: 300px;
  margin: auto;
}
footer {
  text-align: center;
  margin: 50px 0;
}
